.llama-thumb {
  text-align: left;

  object-fit: cover;
  padding: 10px;

  img {
    width: 160px;
    height: 160px;
    display: block;
  }

  .badge-primary {
    background-color: #d069c0;
  }
}
